# sbt specific
target/
# Scala-IDE specific
.idea
/stream-reactor.iml
*/target
/kafka-connect-elastic/kafka-connect-elastic.iml
/kafka-connect-kudu/kafka-connect-kudu.iml
/kafka-connect-bloomberg/kafka-connect-bloomberg.iml
/kafka-connect-cassandra/kafka-connect-cassandra.iml

flume-ng/flume-ng.iml
