*.class
*.log
*org.junit*

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
/stream-reactor.iml
*/target
/kafka-connect-elastic/kafka-connect-elastic.iml
/kafka-connect-kudu/kafka-connect-kudu.iml
/kafka-connect-bloomberg/kafka-connect-bloomberg.iml
/kafka-connect-cassandra/kafka-connect-cassandra.iml

flume-ng/flume-ng.iml
flume-ng/target
