bin/
build/
target/
*.class
*.jar
*.tar
*.zip

.gradle

# Intellij
.idea
*.iml
*.iws
*.ipr
.DS_STORE

# Eclipse
.classpath
.project
.settings
.metadata

key.json

test.conf
kcbq-connector/src/test/resources/test.properties
kcbq-connector/test/docker/connect/properties/
kcbq-connector/out/
