name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - shell: bash
      env:
        GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
        SIGNING_GPG_KEY: ${{ secrets.SIGNING_GPG_KEY }}
      run: |
        base64 -d <<< "$SIGNING_GPG_KEY" > /tmp/secring.gpg
        echo "$GRADLE_PROPERTIES" > gradle.properties
    - name: Get the tag
      id: get_tag
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - name: Upload archive
      run: ./gradlew -Prelease -Pversion=${{ steps.get_tag.outputs.VERSION }} signArchives uploadArchives
    - name: Release archive
      run: ./gradlew -Prelease -Pversion=${{ steps.get_tag.outputs.VERSION }} closeAndReleaseRepository
    - name: Create Release
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ steps.get_tag.outputs.VERSION }}
        release_name: Release ${{ steps.get_tag.outputs.VERSION }}
        draft: false
        prerelease: false
